* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  
  text-align: center;
}

.App-logo {
  font-size: 30px;
}

.App-header {
  background-color: #423a63;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 30px;
}

span {
  color: aquamarine;
}

ul {
  display: flex;
  padding: 0;
}

ul li {
  list-style-type: none;
}

li {
  font-size: 20px;
  font-weight: 500;
  padding: 25px;
  cursor: pointer;
}

li:hover {
  color: #423a63;
  background: azure;
}