* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  font-size: 30px;
}

.App-header {
  background-color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: grey;
  padding: 0 30px;
  box-shadow: 0.6px 0.6px 6px 0.6px #d1dfde;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: white;
  target-new: tab;
}


span {
  color: #FF4B2B;
}


ul {
  display: flex;
  padding: 0;
}

ul li {
  list-style-type: none;
}

li {
  border: solid 4px white;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 25px;
  cursor: pointer;
}

li:hover {
  color: #FF4B2B;
  border-bottom: solid 4px #FF4B2B;
}

.search-container {
  margin-bottom: 100px;
}

.search-bar {
  height: 50px;
  width: 400px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 0 80px 0 20px;
  outline: none;
  border: 2px solid #ff4b2b;
  letter-spacing: 0.1em;
  background: #fff4f2;
}


button {
  color: white;
  background: linear-gradient(90deg, rgba(224,19,92,1) 0%, rgba(255,75,43,1) 100%);
  padding: 10px 20px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  
}


button.signin-btn {
  background: #ff4b2b;
  border-radius: 0px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  
}

button.signup-btn {
  background: #ff4b2b;
  border-radius: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

button:hover {
  box-sizing: border-box;
  border: solid 1px #ff4b2b;
  color: #ff4b2b;
  background: white;
}

button.btn-news {
  border-radius: 0px;
  height: 50px;
  background: #ff4b2b;
}

button.btn-jp-news {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

button.btn-news:hover {
  background: white;
}

.news-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
  width: 500px;
  margin: 20px;
}

.news-card article {
  padding: 30px;
}

button.card-news-btn {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 500px;
}

button.card-news-btn:hover a {
  
  background: white;
  color: #ff4b2b;
}